*{
    margin:0px;
    padding:0px;
}
/* Styling for the pop-up container */
.popup-container {
display: none;
position: fixed;
top: 0;
left: 50%;
transform: translateX(-50%);
background-color: white;
padding: 20px;
border: 1px solid #ccc;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
z-index: 9999;
width: 50%;
max-width: 400px; /* Set maximum width */
animation: slideInOut 0.6s forwards;
}

.popup-container2 {
position: fixed;
top: 0;
left: 80%;
transform: translateX(-30%);
background-color: green;
padding: 10px;
border: 1px solid #ccc;
border-radius: 10px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
z-index: 9999;
width: 20%;
max-width: 400px; /* Set maximum width */
animation: slideInOut2 0.6s forwards;
}

@keyframes slideInOut2 {
0% {
    top: -100%;
}
100% {
    top: 10%;
}
}

@keyframes slideInOut {
0% {
    top: -100%;
}
100% {
    top: 20%;
}
}

/* Styling for the form */
.popup-form input[type="text"],
.popup-form input[type="date"] {
width: 100%;
margin-bottom: 10px;
padding: 5px;
border: 1px solid #ccc;
border-radius: 5px;
box-sizing: border-box;
}

.popup-form button {
width: 100%;
padding: 10px;
border: none;
color: white;
cursor: pointer;
border-radius: 5px;
}